<form action="/auth/login" method="post">
    <div class="form-group">
        <label>Email</label>
        <input type="email" class='form-control' name="email" placeholder="Email" id="email">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class='form-control' name="password" placeholder="Password" id="password">
    </div>
    <button type="submit" class='btn btn-default' id='loginBtn'>Login</button>
</form>

<form class="" action="/user/signup" method="get">
    <button class='btn btn-default' id='signupBtn'>Sign Up</button
     </form>
