<h1>Create new event</h1>
<% user %>
<form action="/auth/profile/events/create-event" method="POST">
Event Date: <input type= "date" name="startDate" id="dateInput"> <br>
Event Name: <input type="text" name="eventName"><br>
Description: <input type="text" name="description"><br>
Location: <input type= "text" name="location"> <br>
Type of event: <input type= "text" name="typeOfEvent"> <br>
Number of spots: <input type= "number" name="numberOfSpots"> <br>
Status: <input type= "text" name="status" placeholder = "proposed/confirmed"> <br>
<input type="submit" name="Submit">
</form>
