<form enctype='multipart/form-data' action='/auth/profile/editprofile' method='post'>
  Upload profile picture
  <input type='file' name='profilePicture'>
  <label for="instruments">Instruments</label>
  <input type="text" name="instruments" value="">
  <label for="genres">Genres</label>
  <input type="text" name="genres" value="">
  <input type="submit" class='btn'>
</form>
