<div class="container col-md-4 col-md-offset-4">
  <h3>Update Profile</h3>
  <form enctype='multipart/form-data' action='/auth/profile/editprofile' method='post'>
    <div class="form-group">
      <label for='instruments'>Instruments</label>
      <input type="text" name="instruments" value="">
    </div>
    <div class="form-group">
      <label for='genres'>Genres</label>
      <input type="text" name="genres" value="">
    </div>
    <div class="form-group">
      <label for="profilePicture">Upload Profile Picture</label>
      <input type='file' name='profilePicture'>
    </div>
    <button type="submit" class='btn btn-default '>Submit</button>
</form>
</div>
