
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron vertical-center">
      <div class="container">
          <h1>welcome to meet&jam</h1>
          <p> an app that helps to organize the perfect jam session <br> for music enthusiasts and hobbyists!</p>
      </div>
    </div>
