<div class="container">
<% event %>
  <h1>More about <%= event.eventName %></h1>
  <p>Organizer: <%= event.organizerName%></p>
  <p>Type of Event : <%= event.typeOfEvent%></p>
  <p>Description: <%= event.description%></p>
</div>

</div>
