<div class="container moveDown">
<% event %>
  <h1>More about <%= event.eventName %></h1>
  <table class="table">
    <thead>
      <tr>
        <th>Organizer</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <td><%= event.organizerName%></td>
      <td> <%= event.description%></td>
    </tbody>
  </table>

</div>

</div>
