<div class="jumbotron vertical-center">
  <div class="container">
    <%- include ./widgets/alerts %>

    <h3>Sign Up</h3>

    <form action="/auth/signup" method="POST" >
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" value="">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" value="">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" value="">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
